*~
\#*\#
*.la
*.lo
*.o
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
chafa.pc
chafa/chafaconfig.h
chafa/chafaconfig-stamp
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
docs/html
docs/xml
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
tools/chafa/chafa

test
demo
resource
