*/*.la
*/*.lo
*/*.o
*/.deps
*/.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
chafa/chafa
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
test
