*~
\#*\#
*.la
*.lo
*.o
*.stamp
*-stamp
.deps
.libs
Makefile
Makefile.in

/aclocal.m4
/ar-lib
/autom4te.cache
/chafa.pc
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/gtk-doc.make
/install-sh
/libtool
/ltmain.sh
/m4
/missing
/stamp-h1
/test-driver
