/chafa-decl-list.txt
/chafa-decl.txt
/chafa-overrides.txt
/chafa-undeclared.txt
/chafa-undocumented.txt
/chafa-unused.txt
/chafa.1
/chafa.actions
/chafa.args
/chafa.hierarchy
/chafa.html
/chafa.interfaces
/chafa.prerequisites
/chafa.proc
/chafa.signals
/docbook.xsl
/html
/refentry.xsl
/version.xml
/xml
